

# Python files
__pycache__/
*.py
*.pyc
myenv/

# IDE files
.idea/

# Other HTML files
assets/index.html
index1.html
js_test.html
index2.html
index3.html
chart.html
chart-original.html
chatbot.html
ghl_chatbot.html
improved_chatbot.html
new_chatbot.html

# Assets and fonts
assets/
fonts/

# Other files
LICENSE
redis-test.py
main.py
EOF